@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body{
    background-color: #F69680;
    color: #2E1263;
    font-family: Source Sans Pro;
    font-weight: 300;
}

h1{
    font-weight: 300;
    border-top: 5px solid;
    text-transform: uppercase;
    font-size: 70px;
}

img{
    width: 500px;
    border-radius: 50%;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    color: #2E1263;
    margin: 30px auto 0;
    padding: 20px 25px;
    background-color: #F69680;
    font-size: 20px;
    border-color: #2E1263;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 5px;
    overflow: none;
}


button:hover{
    background-color: #2E1263;
    color: #F69680;
    transition: 0.75s;
    text-decoration: underline;
}

p{
    font-size: 30px;
}

b{
    font-weight: 500;
}
